@model IEnumerable<Bolum>

<div class="container my-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Bölüm Listesi</h2>
        </div>
        <div class="card-body">
            <a href="/Bolum/Create" class="btn btn-success mb-3">Bölüm Ekle</a>
            <table class="table table-hover table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th style="width: 150px;">@Html.DisplayNameFor(m => m.BolumId)</th>
                        <th>@Html.DisplayNameFor(m => m.Baslik)</th>
                        <th style="width: 150px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.BolumId)</td>
                            <td>@Html.DisplayFor(modelItem => item.Baslik)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.BolumId" class="btn btn-sm btn-primary mr-2">Düzenle</a>
                                <a asp-action="Delete" asp-route-id="@item.BolumId" class="btn btn-sm btn-danger">Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
